.anvil-icon {
		transform-origin: top center;
		animation: none;
	}

	.anvil-icon.animate {
		animation: fallFromTop 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform: translateY(-50px);
		animation-delay: 0.3s;
	}

	@keyframes fallFromTop {
		0% {
			transform: translateY(-50px);
		}
		100% {
			transform: translateY(0);
		}
	}
