.award-icon {
		transform-origin: center;
		transition: all 0.5s ease-in-out;
	}

	.award-icon.animate {
		animation: enlarge 1s ease;
	}

	@keyframes enlarge {
		30% {
			transform: rotate(20deg) scale(1.2);
		}
		60% {
			transform: rotate(-20deg) scale(1.2);
		}
		1000% {
			transform: rotate(0deg) scale(1);
		}
	}
