.badge-check-icon {
		overflow: visible;
	}

	.badge-path {
		transform-origin: center;
		transition: transform 1.2s ease-in-out;
	}

	.check-path {
		stroke-dasharray: 10;
		stroke-dashoffset: 0;
		opacity: 1;
		transition:
			stroke-dashoffset 1.2s ease-in-out,
			opacity 0.01s ease-in-out;
	}

	.badge-check-icon.animate .badge-path {
		animation: scaleBadge 1.2s ease-in-out;
	}

	.badge-check-icon.animate .check-path {
		animation: drawCheck 1.2s ease-in-out;
	}

	@keyframes scaleBadge {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.9);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes drawCheck {
		0% {
			stroke-dashoffset: 0;
			opacity: 1;
		}
		50% {
			stroke-dashoffset: 10;
			opacity: 1;
		}
		100% {
			stroke-dashoffset: 0;
			opacity: 1;
		}
	}
