.battery-icon {
		overflow: visible;
	}

	.battery-icon.animate .battery {
		opacity: 0;
		animation: blink 0.5s 3;
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
