.chart-line-icon {
		overflow: visible;
	}

	.line {
		stroke-dasharray: 17;
		stroke-dashoffset: 0;
		transition:
			stroke-dashoffset 0.3s ease,
			opacity 0.3s ease;
	}

	.chart-line-icon.animate .line {
		animation: lineAnimation 0.6s ease backwards;
	}

	@keyframes lineAnimation {
		0% {
			stroke-dashoffset: 17;
			opacity: 1;
		}
		15% {
			stroke-dashoffset: 17;
			opacity: 0;
		}
		100% {
			stroke-dashoffset: 0;
			opacity: 1;
		}
	}
