.copy-rect,
	.copy-path {
		transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	}

	.copy-rect.animate {
		transform: translate(-3px, -3px);
	}

	.copy-path.animate {
		transform: translate(3px, 3px);
	}
