.eclipse-icon {
		overflow: visible;
	}

	.sun {
		transform-origin: center;
		transition: transform 0.3s ease-in-out;
	}

	.moon {
		transform-origin: center;
		transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
		transform: translate(0, 0);
	}

	.eclipse-icon.animate .moon {
		transform: translate(3px, -3px);
	}
