.landmark-icon {
		overflow: visible;
	}

	.landmark-icon.animate .column-1 {
		opacity: 0;
		animation: fadeInLeft 0.35s ease-out 0.3s forwards;
	}

	.landmark-icon.animate .column-2 {
		opacity: 0;
		animation: fadeInLeft 0.35s ease-out 0.2s forwards;
	}

	.landmark-icon.animate .column-3 {
		opacity: 0;
		animation: fadeInLeft 0.35s ease-out 0.1s forwards;
	}

	.landmark-icon.animate .column-4 {
		opacity: 0;
		animation: fadeInLeft 0.35s ease-out 0s forwards;
	}

	.landmark-icon.animate .roof {
		opacity: 0;
		animation: fadeInTop 0.35s ease-out 0.4s forwards;
	}

	@keyframes fadeInLeft {
		0%,
		50% {
			opacity: 0;
			transform: translateX(-10px);
		}
		80% {
			opacity: 0.8;
			transform: translateX(2px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes fadeInTop {
		0%,
		50% {
			opacity: 0;
			transform: translateY(-10px);
		}
		80% {
			opacity: 0.8;
			transform: translateY(2px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
