.layers-icon {
		overflow: visible;
	}

	.layer {
		transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	.layer-bottom.animate {
		transform: translateY(-9px);
	}

	.layer-middle.animate {
		transform: translateY(-5px);
	}
