.lightbulb-icon {
		overflow: visible;
	}

	.lightbulb-path1 {
		transform-origin: bottom center;
		transform-box: fill-box;
		fill: transparent;
		transition: fill 0s;
	}

	.lightbulb-path2 {
		transform-origin: bottom center;
		transform-box: fill-box;
	}

	.lightbulb-icon.animate .lightbulb-path1 {
		animation:
			lightbulb-rotate1 0.8s ease-in-out forwards,
			lightbulb-fill-opacity 0.3s ease-in-out 0.4s forwards;
		fill: currentColor;
		fill-opacity: 0;
	}

	.lightbulb-icon:not(.animate) .lightbulb-path1 {
		fill: transparent;
	}

	.lightbulb-icon.animate .lightbulb-path2 {
		animation: lightbulb-rotate2 0.8s ease-in-out forwards;
	}

	@keyframes lightbulb-rotate1 {
		0% {
			transform: rotate(0deg);
		}
		40% {
			transform: rotate(-20deg);
		}
		60% {
			transform: rotate(15deg);
		}
		80% {
			transform: rotate(-7deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	@keyframes lightbulb-fill-opacity {
		0% {
			fill-opacity: 0;
		}
		40% {
			fill-opacity: 1;
		}
		60% {
			fill-opacity: 0;
		}
		80% {
			fill-opacity: 1;
		}
		100% {
			fill-opacity: 0;
		}
	}

	@keyframes lightbulb-rotate2 {
		0% {
			transform: rotate(0deg);
		}
		40% {
			transform: rotate(0deg);
		}
		60% {
			transform: rotate(10deg);
		}
		80% {
			transform: rotate(-5deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
