.message-square-path {
		transform-origin: bottom left;
	}

	.message-square-path.animate {
		animation: messageSquareAnimation 0.8s ease-in-out;
	}

	@keyframes messageSquareAnimation {
		0% {
			transform: rotate(0deg);
		}
		40% {
			transform: rotate(8deg);
		}
		60% {
			transform: rotate(-8deg);
		}
		80% {
			transform: rotate(2deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
