.radar-icon {
		transform-origin: center center;
		transition: transform 1s ease-in-out;
	}

	.radar-icon.animate {
		animation: rotate-path 2s linear;
	}

	@keyframes rotate-path {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(720deg);
		}
	}
