.rotate-ccw-key-icon,
	.arrow,
	.key {
		transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform-origin: center;
	}

	.arrow.animate {
		transform: rotate(-50deg);
		transition-delay: 0.1s;
	}

	.key.animate {
		transform: rotate(-25deg);
	}
