.text-cursor-input-icon {
		overflow: visible;
	}

	.animated-group.animate {
		animation: blink 0.8s linear infinite;
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
