.text-cursor-icon {
		overflow: visible;
	}

	.text-cursor-icon.animate {
		animation: blink 0.8s linear infinite;
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
