.toggle-left-icon {
		overflow: visible;
	}

	.toggle-circle {
		transform: translateX(0);
		transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.toggle-left-icon.animate .toggle-circle {
		transform: translateX(6px);
	}
